@import "../../../../scss/theme/variables.scss";
@import "../../../../scss/styles/mixins.scss";

.box-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    border: 1px solid $green-color;
    min-height: 40vh;
    width: 30vw;
    padding: 0.5rem;

    &__summary {

        &--missing {
            position: absolute;
            top: 0.2rem;
            right: 0.3rem;
            font-size: 0.7rem;
            font-style: italic;
        }

        &--title {
            margin-bottom: 0.2rem;
            padding: 0.1rem 0.3rem;
        }
    
        &--list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 28vw;
            padding: 0.1rem 0rem 0.1rem 0.5rem;

            &__units-price {
                display: flex;
                justify-content: space-between;
                width: 6rem;
            }
        }
    }
    
    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--btn-discard {
            @include buttonBuy($dark-color, $dark-color, $dark-color);
        
            font-size: 1rem;
            padding: 0.2rem 0.7rem;
            margin-right: 0.5rem;
            color: $green-color;
        }


        &--btn-add {
            @include buttonBuy($green-color, $dark-color, $green-color);
        
            font-size: 1rem;
            padding: 0.2rem 0.7rem;
    
            &:disabled {
                background-color: $light-color;
                border-color: $dark-color;
                cursor: auto;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}