@mixin buttonBuy ($bg-color, $font-color, $bg-hover) {
    background-color: $bg-color;
    font-size: 2rem;
    padding: 0.7rem 1.4rem;
    border-radius: 2rem;
    border: 1px double $bg-color;  
    cursor: pointer;  
    color: $font-color;
    
    a {
        text-decoration: none;

        &:-webkit-any-link {
            color: $font-color;
        }

    }
    
    &:hover {
        background-color: $bg-hover;
        border: 1px solid $dark-color;  
        box-shadow: 1px 1px 3px $dark-color;
    }

    &:disabled {
      color: rgba(40, 37, 37, 0.667);
      border-color: rgba(40, 37, 37, 0.667);
    }

}

@mixin scrollbar ($colorBar, $colorBg) {
    ::-webkit-scrollbar {
        width: 0.5rem; 
      }
      
    ::-webkit-scrollbar-track {
       background: $colorBg;
     }
      
     ::-webkit-scrollbar-thumb {
       background: $colorBar;
       border-radius: 1rem;
     }
      
}

@mixin inputNumber () {
  border: none;
  font-size: 1rem;
  width: 1.9rem;
  background-color: $light-color;
  margin-right:0.5rem;
  outline: none;

  &:not([step="any"])::-webkit-inner-spin-button,
  &:not([step="any"])::-webkit-outer-spin-button {
      opacity: 1;      
    }

}
