@import "../../../scss/theme/variables.scss";
@import "../../../scss//styles/mixins.scss";

.message-successful {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;

   &__title {
    color: $green-color;
   }

   &__summary {
    margin: 1rem 0rem;
    color: $dark-color;

    h4 {
        margin: 1rem 0rem;
        color: $green-color;
    }

    div {
        margin: 0.2rem 1rem;
        padding: 1rem;
        background-color: $light-color;
        border-radius: 1rem;
        border: 1px solid $green-color
    }
   }
}