@import "../../../../scss/theme/variables.scss";

.chocolate-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 20rem;
    width: 12rem;
    background-color: $light-color;
    margin: 2.5rem 2rem;
    color: $dark-color;
    padding: 1rem;
    box-shadow: 1px 1px 2px #bd9f7b;
    border-radius: 100% 20% 0% 0%;
    
    &__img {
        height: 8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        filter: drop-shadow(2px 2px 6px #1c1612 );
    }

    &__name {
        font-size: 0.9rem;
    }

    &__desc {
        font-size: 0.7rem;
        text-align: center;
    }

    &__price {
        position: absolute;
        bottom: 3.5rem;
        font-size: 1.2rem;
    }

    &__btn {
        position: absolute;
        bottom: 1rem;
        background-size: cover;
        box-shadow: 2px 2px 7px $dark-color;
        padding: 0.3rem 1.2rem;
        font-size: 0.8rem;
        cursor: pointer;
        width: 91%;
        background-image: url("../../../../../assets/imgs/choco6.jpg");
        background-size: cover;
        color: #ddc2a7;
        font-weight: lighter;
        text-shadow: 1px 1px 10px $light-color;
        border: none;
        border-radius: 0% 50% 0% 50%;

        &:hover {
            width: 90%;
            transition-duration: 0.2s;
        }

        &:active {
            transform: scale(0.99);
        }

    }
}