@import "../../../../scss/theme/variables.scss";
@import "../../../../scss//styles//mixins.scss";

.cart-section {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: $dark-color;
 
    &__background {
        width: 100%;
        height: 100%;
        background-color: $dark-color;
        opacity: 0.50;
    }

    &__cart {
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 35%;
        height: 100%;
        background-color: $light-color;
        z-index: 2;
        padding: 4.5rem 2rem 0.2rem 2rem;

        &--nav {
            position: fixed;
            top: 1.6rem;
            right: 1rem;
        }

        &--empty {
            color: $green-color;
            margin: 2rem 2rem;
        }

        &--btn-buy {
            @include buttonBuy($green-color, $dark-color, $green-color);
            
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;
            padding: 0.3rem 1rem;
        }

        &--btn-close {
            width: 2rem;
            margin: 0.3rem 1rem;
            cursor: pointer;
        }
    }
}