@import "../../../../scss/theme/variables.scss";

.purchase-history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 77vh;
    width: 100vw;
    background-color: $dark-color;
    padding: 2rem;

    &__title {
        color: $green-color;
    }

    &__purchase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $light-color;
        width: 13rem;
        min-height: 15rem;
        border-radius: 2rem;
        margin: 1rem 0.5rem;
        padding: 1rem;
        color: $dark-color;

        &--detail {
            margin: 1rem;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    margin-bottom: 1rem;
            
                    &:-webkit-any-link {
                        color: $green-color;
                    }
            
                }
            }
        }
    }
}